/* General styles */
body {
    font-family: Space mono, Arial;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

/* Heading styles */
h1 {
    font-family: Arial;
    font-weight: bold;
}

body h5.text-secondary {
    font-family: Space Mono, Arial;
    font-weight: bold;
}

body p.text-secondary {
    font-family: Space Mono, Arial;
    font-style: italic;
    font-weight: bold;
}

body p.text-light{
    font-family: Space Mono, Arial;
}

/* Footer styles */
footer {
    background-color: transparent;
    color: #ffffff;
    position: relative;
}

footer a {
    font-size: 1.7rem;
}

footer a:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

/* Stars container styles */
#stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.stars {
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: twinkle 2s infinite ease-in-out;
    opacity: 0.8;
}

/* Keyframes for star animation */
@keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}