body {
    font-family: Arial, sans-serif;
      
}

h1 {
    font-family: Arial;
    font-weight: 700;
}

body h5.text-secondary {
    font-family: monospace;
    font-weight: 700;
}

footer a {
    font-size: 1.8rem;
}

body p.text-secondary {
    font-family: system-ui;
    font-style: italic;
    font-size: 1.0rem;
    font-weight: 500;
}

.custom-btn {
    background-color: #0a06fc6c;
    border-color: #0a06fc6c;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 1.2rem;
}

.custom-btn:hover {
    background-color: #363636;
    border-color: white;
}

footer a:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}

.meteor {
    position: absolute;
    width: 3px;
    height: 60px;
    background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
    animation: meteor 3s linear infinite;
}

