/* General styles */
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: Space mono, Arial;
    background-color: #000;
    color: #fff;
    transform: translateY(-50px);
}

.container {
    text-align: center;
}
/* Heading styles */
h1 {
    font-family: Arial;
    font-weight: bold;
}

body h5.text-secondary {
    font-family: Space Mono, Arial;
    font-weight: bold;
}

body p.text-secondary {
    font-family: Space Mono, Arial;
    font-style: italic;
    font-weight: bold;
}

body p.text-light{
    font-family: Space Mono, Arial;
}

/* Footer styles */
footer {
    background-color: transparent;
    color: #ffffff;
    position: static;
}

footer a {
    font-size: 1.5rem;
}

footer a:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}