body {
    font-family: Arial, sans-serif;
      
}

h1 {
    font-family: Arial;
    font-weight: 700;
}

body h5.text-secondary {
    font-family: monospace;
    font-weight: 700;
}

footer a {
    font-size: 1.7rem;
}

body p.text-secondary {
    font-family: arial;
    font-style: italic;
    font-weight: 700;
}

.custom-btn {
    background-color: #0a06fc6c;
    border-color: #0a06fc6c;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 1.2rem;
}

.custom-btn:hover {
    background-color: #363636;
    border-color: white;
}

footer a:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

